<%- include('partials/header') -%>

<div class="container">
  <div class="mt-5">
        <h2>Add a Location</h2>
        <form action="/post/createPost" method="POST">
          <input type="text" id="company" name="company" placeholder="Company" class="input input-bordered input-secondary w-full max-w-xs" />
          <div class="mb-3">
          <textarea class="textarea textarea-info" id="address" name="address" placeholder="Address"></textarea>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-secondary">Submit</button>
          </div>
          
        </form>
      </div>
  </div>
</div>
  
<div class="divider"></div>


<div class="flex flex-row flex-wrap justify-items-center">
    <% for(var i=0; i<posts.length; i++) {%>
      <div class="card w-96 bg-base-100 shadow-xl border-cyan-300 m-5">
        <div class="card-body">
          <h2 class="card-title "><%= posts[i].company%></h2>
          <p><%= posts[i].address%></p>
          <div class="card-actions justify-end">
            <a href="/post/<%= posts[i]._id%>"><button class="btn btn-primary">Check Updates</button></a>
          </div>
        </div>
      </div>
    <% } %>
</div>

<%- include('partials/footer') -%>